asgiref==3.8.1
crispy-bootstrap4==2024.10
crispy-bootstrap5==2025.4
diff-match-patch==20241021
Django==4.2
django-crispy-forms==2.4
django-import-export==4.3.7
sqlparse==0.5.3
tablib==3.8.0
psycopg2-binary==2.9.9
openpyxl==3.1.2
pillow==11.2.1
qrcode==8.0
pandas==2.2.2
numpy==1.26.4
xlsxwriter==3.2.3
